In [5]:
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore")
card =  pd.read_csv("../input/cleaned_card.csv",index_col='学生id',encoding='utf-8')
score =  pd.read_csv("../input/cleaned_score.csv",index_col='学生id',encoding='utf-8')
data = pd.concat([score,card],axis =1)

In [9]:
data.head(12)

,学院编号,成绩排名,消费金额,其他,图书馆,开水,教务处,文印中心,校医院,校车,洗衣房,淋浴,超市,食堂
学生id,,,,,,,,,,,,,,
0,9.0,-1.681326,4997.56,0.00,84.40,429.58,0.0,0.3,0.0,417.49,0.00,12.30,839.68,3213.81
1,9.0,-1.680156,6182.69,0.00,324.20,265.97,29.3,96.4,0.0,119.40,25.02,22.50,514.30,4785.60
2,9.0,0.143542,4966.65,0.01,22.40,670.36,0.0,0.0,0.0,34.88,22.20,53.10,829.95,3333.75
3,9.0,1.629171,42.40,0.00,0.00,0.18,0.0,0.0,0.0,0.00,7.62,34.60,0.00,0.00
8,6.0,1.749205,11472.37,0.00,425.90,2440.94,0.0,2.6,0.0,2211.45,4.50,39.83,10.00,6337.15
9,6.0,1.760045,14502.91,122.26,113.73,4754.68,0.0,294.4,0.0,158.10,23.82,36.32,0.00,8999.60
10,3.0,-1.709162,6028.74,0.00,272.60,750.34,1.3,0.0,0.0,486.30,65.36,143.90,242.80,4066.14
11,3.0,-1.707670,5976.20,0.00,134.80,928.21,0.0,4.0,0.0,989.25,9.24,164.20,107.70,3638.80
16,15.0,-1.747632,2974.56,0.00,38.82,914.81,0.0,5.0,3.0,291.60,0.00,48.00,14.00,1659.33
17,15.0,-1.742198,495.85,0.00,9.50,67.05,0.0,0.0,0.0,59.00,21.60,23.90,14.80,300.00
19,7.0,-1.647174,3331.06,0.00,65.40,264.69,0.0,17.7,0.0,8.90,0.00,14.90,628.16,2331.31
20,7.0,-0.412101,6393.73,0.00,40.70,700.86,43.6,0.0,0.0,150.73,4.90,34.10,679.80,4739.04

In [10]:
data.isnull().sum()

学院编号    3538
成绩排名    3538
消费金额      37
其他        37
图书馆       37
开水        37
教务处       37
文印中心      37
校医院       37
校车        37
洗衣房       37
淋浴        37
超市        37
食堂        37
dtype: int64

In [25]:
ID_test =  pd.read_csv("../input/studentID_test.csv",encoding='utf-8')
ID_sub_train = pd.read_csv("../input/subsidy_train.csv",encoding='utf-8')

In [30]:
ID_sub_train.head()

   学生id  助学金金额
0     0      0
1     1      0
2     8      0
3     9      0
4    10      0

In [36]:
X_test = data.loc[ID_test.学生id,:]
X_train = data.loc[ID_sub_train.学生id,:]
Y_train = pd.get_dummies(ID_sub_train.助学金金额)

In [37]:
print(X_test.shape,X_train.shape,Y_train.shape)

(10783, 14) (10885, 14) (10885, 4)

In [38]:
X_test.to_pickle('../input/X_test.pkl')
X_train.to_pickle('../input/X_train.pkl')
Y_train.to_pickle('../input/Y_train.pkl')

In [39]:
pandas.read_pickle('../input/Y_train.pkl').shape

NameError: name 'pandas' is not defined